.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App button {
  padding: 10px;
  margin: 5px;
  font-size: 1.2em;
}

.App p {
  font-size: 2.0em;
  font-weight: bold;
}