body {
  background-color: #b71c1c;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
}

.App {
  text-align: center;
  background-color: rgba(250, 235, 215, 0.355);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App button {
  padding: 10px;
  margin: 5px;
  font-size: 1.2em;
}

.App p {
  font-size: 2.0em;
  font-weight: bold;
}

.header {
  width: 100%;
  height: 43px;
  display: flex;
  justify-content: center;
  background-color: aquamarine;
  align-items: center;
  margin: 0 auto;
}